<div class="posts-container">
  <div class="users"> 
      <%= render 'shared/user', user:@user %>
  </div>

  <div class="posts">
    <h2>All Posts</h2>

    <%=link_to "Add post", new_user_post_path(@user)%>

    <% @posts.each do |post| %>
      <%= render 'shared/post', post:post, user:@user %>

      <div class="">
        <%= link_to "Add Comment", new_user_post_comment_path(@user, post) %>
        <%= form_with url: user_post_likes_path(post.author.id, post.id) do |form| %>
          <%= form.submit 'Like' %>
        <% end %>

      <% if can?(:destroy, @post) %>
        <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'delete-button' %>
      <% end %>

      </div>

      <% if post.five_most_recent_comments.present? %>
        <% comments=post.five_most_recent_comments %>
        <%= render 'shared/comments', comments:comments %>
      <% end %>
    <% end %>
  </div>
</div>



