<div class="posts-show">
  <div class="post-show">
  
    <div class="post-title-show">
      <h1><%= @post.title %></h1>

      <div class="post-interact">
        <p>comments: <%= @post.comments_counter %></p>
        <p>likes: <%= @post.likes_counter %></p>
      </div>
    </div>

    <div>
      <p><%= @post.text %></p>
    </div>
    
  </div>

  <div class="">
    <div class="">
      <%= link_to "Add Comment", new_user_post_comment_path(@user, @post) %>
      <%= form_with url: user_post_likes_path(@post.author.id, @post.id) do |form| %>
        <%= form.submit 'Like' %>
      <% end %>

      <% if can?(:destroy, @post) %>
      <%= button_to 'Delete Post', user_post_path(@post.author, @post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'delete-button' %>
    <% end %>

    </div>
    <h2>Comments</h2>
    <%= render "shared/comments", comments:@comments %>
  </div>

</div>
